body {background-color: #EAB9A1;}
h1 {font-family: Helvetica; font-size: 24pt; color: white;}
p {font-family: Helvetica; font-size: 14pt; color: green;}
a {text-decoration: none;}
a:hover {color: white;}
